@media screen and (max-width: 992px) {
  .logo-image {
    display: block;

    position: fixed;
    top: 2.2%;
    left: 3%;

    img {
      width: 8rem;
    }
  }

  #menu-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;

    width: 60px;
    height: 40px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 100;
  }

  #menu-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: $heading-color;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #menu-btn span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #menu-btn span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #menu-btn span:nth-child(1),
  #menu-btn span:nth-child(2) {
    top: 0px;
  }

  #menu-btn span:nth-child(3),
  #menu-btn span:nth-child(4) {
    top: 18px;
  }

  #menu-btn span:nth-child(5),
  #menu-btn span:nth-child(6) {
    top: 36px;
  }

  #menu-btn.open span:nth-child(1),
  #menu-btn.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu-btn.open span:nth-child(2),
  #menu-btn.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #menu-btn.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #menu-btn.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #menu-btn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #menu-btn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #menu-btn.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #menu-btn.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  nav {
    display: none;



    &.active {
      display: block;

      .nav-item-container {
        .navbar-brand {
          position: fixed;
          top: 2.2%;
          left: 3%;

          z-index: 60;

          img {
            width: 8rem;
          }
        }

        .nav-item-list.active {
          transform: translateY(0rem);

          position: fixed;
          top: 0;
          left: 0;
          background-color: $gray;
          width: 100%;
          height: 100%;
          @include flexItem(column, center);
          align-items: center;
          z-index: 50;   
          padding: 0;
          margin: 0;
      
         

          .nav-item {
            

            
            .nav-link {
           
     
              width: 100%;
              font-size: 1.3em;
              text-transform: capitalize;

              font-weight: 800;

              color: $heading-color;
              transition: all 250ms linear;

              margin: 1rem  0;

              &:hover {
                text-decoration: none;
                color: #ffeba7;
              }
            }
          }
        }
      }
    }
  }
  header {
    margin-top: 3.5rem;
    padding: 5rem 0;

    .container {
      width: 70%;

      h1 {
        font-size: 2.3em;
        font-weight: bolder;
      }

      p {
        margin-top: 1.2rem;
        font-size: 1.07em;
      }

      .anchor-link {
        padding: 0.8rem 1rem;
        font-size: 1em;
      }
    }
  }

  .services {
    padding: 4rem 0;

    h2 {
      font-size: 2em;
      font-weight: bolder;
    }
  }

  .about-us {
    padding: 5rem 0;

    h2 {
      font-size: 2em;
    }

    &-desc {
      width: 90%;

      font-size: 1.1em;
    }
  }

  .our-approach {
    padding: 5rem 0;

    .heading {
      width: 50%;
      margin: 0 auto;
      h4 {
        font-size: 2em;
        font-weight: bolder;
      }
    }
    .approach-card {
      padding: 2rem;

      box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
      border-radius: 0.6rem;

      h5 {
        font-size: 1.3em;
        font-weight: bold;
      }

      p {
        font-size: 1.04em;
      }
    }
  }

  .latest-news {
    padding: 5rem 0;

    h1 {
      font-size: 2.2em;
      font-weight: bolder;
      width: 70%;
    }

    p {
      font-size: 1.03em;
    }
  }

  .contact-us {
    h1 {
      font-size: 2.6em;
      width: 100%;
    }
  }

  footer {
    .subscribe {
      margin-top: 1rem;
      font-size: 2em;

      width: 100%;
    }

    input {
      margin-top: 0.6rem;
      width: 60%;
    }

    button {
      width: 20%;
    }
  }
}
