/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Our Approach
- Insight
- Contact Us
- Footer
- Media Queries
******************************************/
/*****************************************

******************************************/
/**********************/
/*     Font    */
/**********************/
@font-face {
  src: url("@/assets/fonts/GeneralSans-Regular.otf") format("truetype");
  font-family: "GeneralSans";
}

@font-face {
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
}

@font-face {
  src: url("@/assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-family: "DmSans";
}

/**************************/
/*        Css Reset       */
/**************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "DmSans";
  list-style: none;
}

* a {
  color: #000;
  text-decoration: none;
}

* a:hover {
  text-decoration: none;
  color: #000;
}

/**********************/
/*       Colors       */
/**********************/
/**********************/
/*       Mixins       */
/**********************/
/**********************/
/*   General Styles   */
/**********************/
.logo-image {
  display: none;
}

nav {
  padding: 2rem 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
}

nav .nav-item-container {
  width: 87%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .navbar-brand {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-item-container .nav-item-list {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  width: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .nav-item-list .nav-item .nav-link {
  font-size: 1.12em;
  color: #242956;
}

nav .nav-item-container .get-free-quote {
  margin-top: 0.8rem;
}

nav .nav-item-container .get-free-quote .anchor-link {
  background-color: #0B0706;
  padding: 0.8rem 1rem;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

header {
  margin-top: 2rem;
  padding: 5rem 0;
}

header .container {
  width: 60%;
}

header .container h1 {
  font-size: 3.5em;
  font-weight: bolder;
  color: #242956;
}

header .container h1 span {
  color: #4F80E1;
}

header .container p {
  margin-top: 2rem;
  font-size: 1.5em;
  color: #4F5163;
}

header .container .anchor-link {
  background-color: #0B0706;
  padding: 0.8rem 1rem;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

/**********************/
/*      Services      */
/**********************/
.services {
  padding: 5rem 0;
}

.services h2 {
  font-size: 2.5em;
  font-weight: bolder;
  color: #242956;
}

.services .container-lg .service-card {
  padding: 2rem;
  background: #f1f1f1;
  height: 20rem;
  /* grad */
  -webkit-box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);
          box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);
  border-radius: 0.6rem;
  margin: 0.9rem 0;
}

.services .container-lg .service-card h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #0B0706;
  margin: 1.1rem 0;
}

.services .container-lg .service-card p {
  font-size: 1.06em;
  color: #4F5163;
}

/**********************/
/*      About Us      */
/**********************/
.about-us {
  padding: 5rem 0;
}

.about-us h2 {
  font-size: 2.5em;
  font-weight: bolder;
  color: #242956;
}

.about-us-desc {
  width: 50%;
  margin: 1rem auto;
  font-size: 1.26em;
  color: #4F5163;
}

.about-us .container-lg .about-card {
  padding: 2rem 1rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);
          box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);
  border-radius: 0.6rem;
  margin: 0.9rem 0;
  height: 22rem;
}

.about-us .container-lg .about-card h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #0B0706;
  margin: 1.1rem 0;
}

.about-us .container-lg .about-card p {
  font-size: 1.06em;
  color: #4F5163;
}

/**********************/
/*    Our Approach    */
/**********************/
.our-approach {
  padding: 5rem 0;
  background-color: #FAFAFB;
}

.our-approach .heading {
  width: 50%;
  margin: 0 auto;
}

.our-approach .heading h4 {
  font-size: 2.6em;
  font-weight: bolder;
  color: #242956;
}

.our-approach .approach-card {
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
  border-radius: 0.6rem;
  height: 18rem;
}

.our-approach .approach-card h5 {
  font-size: 1.55em;
  font-weight: bold;
  color: #0B0706;
}

.our-approach .approach-card p {
  font-size: 1.06em;
}

/**********************/
/*       Latest News      */
/**********************/
.latest-news {
  padding: 5rem 0;
}

.latest-news h1 {
  font-size: 2.6em;
  font-weight: bolder;
  color: #242956;
}

.latest-news p {
  font-size: 1.16em;
  color: #4F5163;
}

/**********************/
/*     Contact Us     */
/**********************/
.contact-us {
  padding: 5rem 0;
}

.contact-us h1 {
  width: 45%;
  font-size: 3em;
  font-weight: bolder;
}

.contact-us p {
  font-size: 1.16em;
  color: #4F5163;
}

.contact-us p span {
  display: block;
}

.contact-us .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-us .row-item .contact-form {
  width: 50%;
}

.contact-us .row-item .contact-form .wrapper {
  width: 100%;
}

.contact-us .row-item .contact-form .wrapper .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.4rem 0rem;
  width: 100%;
}

.contact-us .row-item .contact-form .wrapper .first-row .input-data {
  height: 2.2rem;
  width: 100%;
  position: relative;
  margin: 0.98rem 0;
}

.contact-us .row-item .contact-form .wrapper .first-row .input-data input {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.13rem solid silver;
  color: #242956;
  font-size: 1em;
  font-weight: 500;
  background: transparent;
}

.contact-us .row-item .contact-form .wrapper .first-row .input-data label {
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 0.98rem;
  left: 0;
  color: #242956;
}

.contact-us .row-item .contact-form .wrapper .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.4rem 0rem;
  width: 100%;
}

.contact-us .row-item .contact-form .wrapper .form-row .address {
  height: 2.2rem;
  width: 63%;
  position: relative;
  margin: 0.98rem 0;
}

.contact-us .row-item .contact-form .wrapper .form-row .address input {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.13rem solid silver;
  color: #242956;
  font-size: 1em;
  font-weight: 500;
  background: transparent;
}

.contact-us .row-item .contact-form .wrapper .form-row .address label {
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 0.98rem;
  left: 0;
  color: #242956;
}

.contact-us .row-item .contact-form .wrapper .form-row .post-code {
  height: 2.2rem;
  width: 33%;
  position: relative;
  margin: 0.98rem 0;
}

.contact-us .row-item .contact-form .wrapper .form-row .post-code input {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.13rem solid silver;
  color: #242956;
  font-size: 1em;
  font-weight: 500;
  background: transparent;
}

.contact-us .row-item .contact-form .wrapper .form-row .post-code label {
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 0.98rem;
  left: 0;
  color: #242956;
}

.contact-us .row-item .contact-form .wrapper input:focus ~ label,
.contact-us .row-item .contact-form .wrapper input:valid ~ label {
  -webkit-transform: translateY(-0.9rem);
          transform: translateY(-0.9rem);
  font-size: 0.9em;
  color: #4F5163;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-us .row-item .contact-form .wrapper .underline {
  height: 0.13rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.contact-us .row-item .contact-form .wrapper .underline::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #242956;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.contact-us .row-item .contact-form .wrapper .input-data input:focus ~ .underline::before,
.contact-us .row-item .contact-form .wrapper .input-data input:valid ~ .underline::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contact-us .row-item .contact-form .wrapper button {
  margin: 1.6rem 0;
  width: 100%;
  padding: 0.7rem 0;
  background-color: #0B0706;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.contact-us .row-item .contact-form .wrapper .heading {
  text-align: center;
  padding-top: 4rem;
}

.contact-us .row-item .contact-form .wrapper .file-box {
  margin-top: 2rem;
  width: 100%;
  height: 6rem;
  border: 0.1rem dashed #4F5163;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact-us .row-item .contact-form .wrapper .file-box span {
  color: #4F5163;
}

.contact-us .row-item .contact-form .wrapper .upload-instruction {
  margin-top: 1rem;
  font-size: 0.86em;
  color: #4F5163;
}

.contact-us .row-item .address h4 {
  font-weight: bold;
}

.contact-us .row-item .address div {
  margin-top: 2rem;
  font-size: 1.07em;
}

.contact-us .row-item .address div span {
  display: block;
}

footer {
  padding: 5rem 0;
  background-color: #0B0706;
}

footer h5 {
  color: #fff;
}

footer a {
  display: block;
  color: #4F5163;
  font-size: 0.95em;
  margin: 1rem 0;
}

footer a:hover {
  color: #fff;
}

footer .subscribe {
  font-size: 2.4em;
  color: #fff;
  width: 70%;
  font-weight: bold;
}

footer input {
  width: 70%;
  padding: 0.7rem 1rem;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
  background-color: #0B0706;
  color: #fff;
}

footer button {
  padding: 0.8rem 1rem;
  width: 26%;
  border: none;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 1200px) {
  header .container {
    width: 60%;
  }
  header .container h1 {
    font-size: 2.4em;
    font-weight: bolder;
  }
  header .container p {
    margin-top: 1.2rem;
    font-size: 1.1em;
  }
  header .container .anchor-link {
    padding: 0.8rem 1rem;
    font-size: 1em;
  }
  .contact-us h1 {
    width: 70%;
    font-size: 2.7em;
    font-weight: bolder;
  }
  .services {
    padding: 4rem 0;
  }
  .services h2 {
    font-size: 2em;
    font-weight: bolder;
  }
}

@media screen and (max-width: 992px) {
  .logo-image {
    display: block;
    position: fixed;
    top: 2.2%;
    left: 3%;
  }
  .logo-image img {
    width: 8rem;
  }
  #menu-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 40px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 100;
  }
  #menu-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #242956;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #menu-btn span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  #menu-btn span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }
  #menu-btn span:nth-child(1),
  #menu-btn span:nth-child(2) {
    top: 0px;
  }
  #menu-btn span:nth-child(3),
  #menu-btn span:nth-child(4) {
    top: 18px;
  }
  #menu-btn span:nth-child(5),
  #menu-btn span:nth-child(6) {
    top: 36px;
  }
  #menu-btn.open span:nth-child(1),
  #menu-btn.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-btn.open span:nth-child(2),
  #menu-btn.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu-btn.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  #menu-btn.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  #menu-btn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  #menu-btn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  #menu-btn.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  #menu-btn.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
  }
  nav.active .nav-item-container .navbar-brand {
    position: fixed;
    top: 2.2%;
    left: 3%;
    z-index: 60;
  }
  nav.active .nav-item-container .navbar-brand img {
    width: 8rem;
  }
  nav.active .nav-item-container .nav-item-list.active {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FAFAFB;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    padding: 0;
    margin: 0;
  }
  nav.active .nav-item-container .nav-item-list.active .nav-item .nav-link {
    width: 100%;
    font-size: 1.3em;
    text-transform: capitalize;
    font-weight: 800;
    color: #242956;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
    margin: 1rem  0;
  }
  nav.active .nav-item-container .nav-item-list.active .nav-item .nav-link:hover {
    text-decoration: none;
    color: #ffeba7;
  }
  header {
    margin-top: 3.5rem;
    padding: 5rem 0;
  }
  header .container {
    width: 70%;
  }
  header .container h1 {
    font-size: 2.3em;
    font-weight: bolder;
  }
  header .container p {
    margin-top: 1.2rem;
    font-size: 1.07em;
  }
  header .container .anchor-link {
    padding: 0.8rem 1rem;
    font-size: 1em;
  }
  .services {
    padding: 4rem 0;
  }
  .services h2 {
    font-size: 2em;
    font-weight: bolder;
  }
  .about-us {
    padding: 5rem 0;
  }
  .about-us h2 {
    font-size: 2em;
  }
  .about-us-desc {
    width: 90%;
    font-size: 1.1em;
  }
  .our-approach {
    padding: 5rem 0;
  }
  .our-approach .heading {
    width: 50%;
    margin: 0 auto;
  }
  .our-approach .heading h4 {
    font-size: 2em;
    font-weight: bolder;
  }
  .our-approach .approach-card {
    padding: 2rem;
    -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
    border-radius: 0.6rem;
  }
  .our-approach .approach-card h5 {
    font-size: 1.3em;
    font-weight: bold;
  }
  .our-approach .approach-card p {
    font-size: 1.04em;
  }
  .latest-news {
    padding: 5rem 0;
  }
  .latest-news h1 {
    font-size: 2.2em;
    font-weight: bolder;
    width: 70%;
  }
  .latest-news p {
    font-size: 1.03em;
  }
  .contact-us h1 {
    font-size: 2.6em;
    width: 100%;
  }
  footer .subscribe {
    margin-top: 1rem;
    font-size: 2em;
    width: 100%;
  }
  footer input {
    margin-top: 0.6rem;
    width: 60%;
  }
  footer button {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  header .container {
    width: 96%;
  }
  header .container h1 {
    font-size: 2em;
    font-weight: bolder;
  }
  header .container p {
    margin-top: 1.2rem;
    font-size: 1.03em;
  }
  header .container .anchor-link {
    padding: 0.8rem 1rem;
    font-size: 1em;
  }
  .services {
    padding: 4rem 0;
  }
  .services h2 {
    font-size: 1.8em;
    font-weight: bolder;
  }
  .latest-news {
    padding: 5rem 0;
  }
  .latest-news h1 {
    font-size: 1.8em;
    width: 100%;
  }
  .latest-news p {
    font-size: 1em;
  }
  .contact-us {
    padding: 5rem 0;
  }
  .contact-us h1 {
    width: 100%;
    font-size: 1.8em;
  }
  .contact-us p {
    font-size: 1em;
  }
  .contact-us p span {
    display: block;
  }
  .contact-us .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-us .row-item .contact-form {
    width: 100%;
  }
  .contact-us .row-item .address {
    margin-top: 3rem;
  }
  .contact-us .row-item .address h4 {
    font-weight: bold;
  }
  .contact-us .row-item .address div {
    margin-top: 2rem;
    font-size: 1em;
  }
  .contact-us .row-item .address div span {
    display: block;
  }
  footer .subscribe {
    margin-top: 1rem;
    font-size: 1.7em;
    width: 100%;
  }
  footer input {
    margin-top: 0.6rem;
    width: 70%;
  }
  footer button {
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  header {
    margin-top: 4rem;
    padding: 3rem 0;
  }
  header .container {
    width: 96%;
  }
  header .container h1 {
    font-size: 1.7em;
  }
  header .container p {
    margin-top: 1.2rem;
    font-size: 1.03em;
  }
  header .container .anchor-link {
    padding: 0.8rem 1rem;
    font-size: 1em;
  }
  .services {
    padding: 3rem 0;
  }
  .services h2 {
    font-size: 1.7em;
    font-weight: bolder;
    padding: 0 0.5rem;
  }
  .about-us {
    padding: 3rem 0;
  }
  .about-us h2 {
    font-size: 1.7em;
  }
  .about-us-desc {
    width: 93%;
    font-size: 1.1em;
  }
  .our-approach {
    padding: 3rem 0;
  }
  .our-approach .heading {
    width: 90%;
    margin: 0 auto;
  }
  .our-approach .heading h4 {
    font-size: 1.7em;
    font-weight: bolder;
  }
  .our-approach .approach-card {
    padding: 2rem;
    -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
    border-radius: 0.6rem;
  }
  .our-approach .approach-card h5 {
    font-size: 1.3em;
    font-weight: bold;
  }
  .our-approach .approach-card p {
    font-size: 1.04em;
  }
  .latest-news {
    padding: 3rem 0;
  }
  .latest-news h1 {
    font-size: 1.7em;
    width: 100%;
  }
  .latest-news p {
    font-size: 1em;
  }
  .contact-us {
    padding: 3rem 0;
  }
  .contact-us h1 {
    width: 100%;
    font-size: 1.7em;
  }
  .contact-us p {
    font-size: 1em;
  }
  .contact-us p span {
    display: block;
  }
  .contact-us .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-us .row-item .contact-form {
    width: 100%;
  }
  .contact-us .row-item .contact-form .nda {
    font-size: 0.89em;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  .contact-us .row-item .address {
    margin-top: 3rem;
  }
  .contact-us .row-item .address h4 {
    font-weight: bold;
  }
  .contact-us .row-item .address div {
    margin-top: 2rem;
    font-size: 1em;
  }
  .contact-us .row-item .address div span {
    display: block;
  }
  footer {
    padding: 3rem 0;
  }
  footer .subscribe {
    margin-top: 1rem;
    font-size: 1.7em;
    width: 100%;
  }
  footer input {
    margin-top: 0.6rem;
    width: 64%;
  }
  footer button {
    width: 33%;
  }
}
/*# sourceMappingURL=styles.css.map */