/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Our Approach
- Insight
- Contact Us
- Footer
- Media Queries
******************************************/

/*****************************************

******************************************/

/**********************/
/*     Font    */
/**********************/

@import "fonts";

/**************************/
/*        Css Reset       */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  font-family: $dmSans;
  list-style: none;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}

/**********************/
/*       Colors       */
/**********************/
@import "colors";

/**********************/
/*       Mixins       */
/**********************/
@import "mixins";

/**********************/
/*   General Styles   */
/**********************/

.logo-image {
  display: none;
}

nav {
  padding: 2rem 0;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
  .nav-item-container {
    width: 87%;
    margin: 0 auto;

    @include flexItem(row, space-between);

    .navbar-brand {
      width: 12%;

      @include flexItem(row, space-between);
      align-items: center;
    }

    .nav-item-list {
      transform: translateY(1rem);

      width: 56%;

      @include flexItem(row, space-between);

      .nav-item {
        .nav-link {
          font-size: 1.12em;
          color: $heading-color;
          cursor: pointer;
        }
      }
    }

    .get-free-quote {
      margin-top: 0.8rem;
      .anchor-link {
        background-color: $black;
        padding: 0.8rem 1rem;
        font-size: 1.1em;
        color: $white;
        cursor: pointer;
        border-radius: 1.5rem;
      }
    }
  }
}

header {
  margin-top: 2rem;
  padding: 5rem 0;

  .container {
    width: 52%;

    h1 {
      font-size: 3.5em;
      font-weight: bolder;
      color: $heading-color;
      // @include flexItem(row, space-around);
      // align-items: center;

      //  .dynamic-txts {

      //     height: 90px;
      //     line-height: 90px;
      //     overflow: hidden;

      //     li {

      //       list-style: none;
      //       color: $green;
      //       font-size: 60px;
      //       font-weight: 500;
      //       position: relative;
      //       top: 0;
      //       animation: slide 12s steps(4) infinite;

      //       span {
      //         position: relative;
      //         margin: 5px 0;
      //         line-height: 80px;

      //         &::after {
      //           content: "";
      //           position: absolute;
      //           left: 0;
      //           height: 100%;
      //           width: 100%;
      //           background: #fff;
      //           border-left: 2px solid $green;
      //           animation: typing 3s steps(10) infinite;
      //         }
      //       }
      //     }
      //   }

      span {
        color: $green;
      }
    }

    p {
      margin-top: 2rem;
      font-size: 1.5em;
      color: $text-color;
    }

    .anchor-link {
      background-color: $black;
      padding: 0.8rem 1rem;
      font-size: 1.1em;
      color: $white;
      cursor: pointer;
      border-radius: 1.5rem;
    }
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/**********************/
/*      Services      */
/**********************/

.services {
  padding: 5rem 0;

  h2 {
    font-size: 2.5em;
    font-weight: bolder;
    color: $heading-color;
  }

  .container-lg {
    .service-card {
      padding: 2rem;
      background: $card-bg;
      height: 20rem;
      /* grad */

      box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);

      border-radius: 0.6rem;
      margin: 0.9rem 0;

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        color: $black;
        margin: 1.1rem 0;
      }

      p {
        font-size: 1.06em;
        color: $text-color;
      }
    }
  }
}

/**********************/
/*      About Us      */
/**********************/

.about-us {
  padding: 5rem 0;

  h2 {
    font-size: 2.5em;
    font-weight: bolder;
    color: $heading-color;
  }

  &-desc {
    width: 50%;
    margin: 1rem auto;
    font-size: 1.26em;
    color: $text-color;
  }

  .container-lg {
    .about-card {
      padding: 2rem 1rem;
      background: $card-bg;

      box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);

      border-radius: 0.6rem;
      margin: 0.9rem 0;
      height: 22rem;

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        color: $black;
        margin: 1.1rem 0;
      }

      p {
        font-size: 1.06em;
        color: $text-color;
      }
    }
  }
}

/**********************/
/*    Our Approach    */
/**********************/

.our-approach {
  padding: 5rem 0;
  background-color: $gray;

  .heading {
    width: 50%;
    margin: 0 auto;
    h4 {
      font-size: 2.6em;
      font-weight: bolder;
      color: $heading-color;
    }
  }

  .approach-card {
    padding: 2rem;
    background-color: $white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;
    border-radius: 0.6rem;
    height: 18rem;

    h5 {
      font-size: 1.55em;
      font-weight: bold;
      color: $black;
    }

    p {
      font-size: 1.06em;
    }
  }
}

/**********************/
/*       Latest News      */
/**********************/
.latest-news {
  padding: 5rem 0;

  h1 {
    font-size: 2.6em;
    font-weight: bolder;

    color: $heading-color;
  }

  p {
    font-size: 1.16em;
    color: $text-color;
  }
}

/**********************/
/*     Contact Us     */
/**********************/

.contact-us {
  padding: 5rem 0;
  h1 {
    font-size: 3em;
    font-weight: bolder;
  }

  p {
    font-size: 1.16em;
    color: $text-color;

    span {
      display: block;
    }
  }

  .row-item {
    @include flexItem(row, space-between);

    .contact-form {
      width: 50%;

      .wrapper {
        width: 100%;

        // @include flexItem(row, space-between);

        .first-row {
          @include flexItem(row, space-between);
          margin: 0.4rem 0rem;
          width: 100%;

          .input-data {
            height: 2.2rem;
            width: 100%;
            position: relative;
            margin: 0.98rem 0;
            input {
              outline: none;
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 0.13rem solid silver;
              color: $heading-color;
              font-size: 1em;
              font-weight: 500;
              background: transparent;
            }

            label {
              pointer-events: none;
              position: absolute;
              transition: all 0.3s ease;
              bottom: 0.98rem;
              left: 0;
              color: $heading-color;
            }
          }
        }

        .form-row {
          @include flexItem(row, space-between);
          margin: 0.4rem 0rem;
          width: 100%;

          .address {
            height: 2.2rem;
            width: 63%;
            position: relative;
            margin: 0.98rem 0;
            input {
              outline: none;
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 0.13rem solid silver;
              color: $heading-color;
              font-size: 1em;
              font-weight: 500;
              background: transparent;
            }

            label {
              pointer-events: none;
              position: absolute;
              transition: all 0.3s ease;
              bottom: 0.98rem;
              left: 0;
              color: $heading-color;
            }
          }

          .post-code {
            height: 2.2rem;
            width: 33%;
            position: relative;
            margin: 0.98rem 0;
            input {
              outline: none;
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 0.13rem solid silver;
              color: $heading-color;
              font-size: 1em;
              font-weight: 500;
              background: transparent;
            }

            label {
              pointer-events: none;
              position: absolute;
              transition: all 0.3s ease;
              bottom: 0.98rem;
              left: 0;
              color: $heading-color;
            }
          }
        }

        input:focus ~ label,
        input:valid ~ label {
          transform: translateY(-0.9rem);
          font-size: 0.9em;
          color: $text-color;
          transition: all 0.3s ease;
        }

        .underline {
          height: 0.13rem;
          width: 100%;
          position: absolute;
          bottom: 0;
        }

        .underline::before {
          height: 100%;
          width: 100%;
          position: absolute;
          content: "";
          transform: scaleX(0);
          transition: all 0.3s ease;
          background: $heading-color;
          transform-origin: center;
        }

        .input-data input:focus ~ .underline::before,
        .input-data input:valid ~ .underline::before {
          transform: scaleX(1);
        }

        button {
          margin: 1.6rem 0;
          width: 100%;
          padding: 0.7rem 0;
          background-color: $black;
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 0.1rem;
          border-radius: 1.5rem;
        }

        .heading {
          text-align: center;
          padding-top: 4rem;
        }

        .file-box {
          margin-top: 2rem;
          width: 100%;
          height: 6rem;
          border: 0.1rem dashed $text-color;
          @include flexItem(row, center);
          align-items: center;
          cursor: pointer;

          span {
            color: $text-color;
          }
        }

        .upload-instruction {
          margin-top: 1rem;
          font-size: 0.86em;
          color: $text-color;
        }
      }
    }

    .address {
      h4 {
        font-weight: bold;
      }
      div {
        margin-top: 2rem;
        font-size: 1.07em;
        span {
          display: block;
        }
      }

      .email-info {
        width: 1.3rem;
      }
    }
  }
}

// footer {
//   padding: 5rem 0;
//   background-color: $black;

//   h5 {
//     color: $white;
//   }

//   a {
//     display: block;
//     color: $text-color;
//     font-size: 0.95em;
//     margin: 1rem 0;
//     &:hover {
//       color: $white;
//     }
//   }

//   .subscribe {
//     font-size: 2.4em;
//     color: $white;
//     width: 70%;
//     font-weight: bold;
//   }

//   input {
//     width: 70%;
//     padding: 0.7rem 1rem;
//     border: 1px solid rgba(235, 240, 249, 0.3);
//     border-radius: 4px;
//     background-color: $black;
//     color: $white;
//   }

//   button {
//     padding: 0.8rem 1rem;
//     width: 26%;
//     border: none;
//     backdrop-filter: blur(80px);
//     /* Note: backdrop-filter has minimal browser support */

//     border-radius: 0 4px 4px 0;
//   }
// }

footer {
  padding-top: 5rem;
  background-color: $black;

  h5 {
    color: $white;
  }

  .brand-name {
    font-size: 2.4em;
    color: $white;

    font-weight: bold;
  }

  .about {
    color: $white;
  }

  .footer-anchor-link {
    a {
      display: block;
      color: $white;
      font-size: 0.95em;
      margin: 1rem 0 0 1rem;
      &:hover {
        color: $white;
      }
    }
  }

  .all-rights-reserved {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem 0;
    background-color: $white;
    p {
      width: 86%;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}

.contact-page {
  padding: 5rem 0;
  background-color: $gray;

  h1 {
    font-weight: bolder;
  }

  .box {
    width: 34%;
    margin: 0 auto;
    p {
      color: #6f6c90;

      font-size: 1.2em;
    }
  }

  .contact-card {
    width: 50%;
    margin: 1.4rem auto;
    padding: 2rem;
    background: $white;

    box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);

    border-radius: 1.3rem;

    .progress-bar {
      @include flexItem(row, space-between);

      // margin: 40px 0;

      .step {
        text-align: center;
        // width: 100%;
        position: relative;

        .check {
          position: absolute;
          left: 50%;
          top: 70%;
          font-size: 15px;
          transform: translate(-50%, -50%);
          display: none;
        }

        &:last-child .bullet {
          &::before,
          &::after {
            display: none;
          }
        }

        .bullet {
          position: relative;
          height: 2.4rem;
          width: 2.4rem;
          // border: 2px solid $black;
          border-radius: 50%;
          // display: inline-block;
          background-color: #eff0f7;

          @include flexItem(row, center);
          align-items: center;
          transition: 0.2;
          color: #6f6c90;

          &.active {
            background-color: $black;
            color: $white;
          }

          &::before,
          &::after {
            position: absolute;
            content: "";
            bottom: 14px;
            right: -140px;
            height: 6px;
            width: 100px;
            background-color: #eff0f7;
            border-radius: 1rem;
          }

          &.active::after {
            background-color: $black;
            transform: scaleX(0);
            transform-origin: left;
            animation: animate 0.3s linear forwards;
          }

          @keyframes animate {
            100% {
              transform: scaleX(1);
            }
          }

          span {
            font-weight: 500;
            font-size: 1.2em;
            line-height: 25px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &.active {
              display: none;
            }
          }

          .check {
            display: none;

            &.active {
              display: block;
              color: $white;
            }
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 0.1rem;
      background-color: #d9dbe9;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .form-outer {
      width: 100%;

      overflow: hidden;

      form {
        display: flex;
        width: 400%;

        .page {
          width: 25%;
          transition: margin-left 0.3s ease-in-out;

          // Second form field

          .second-form {
            width: 100%;
            // background-color: red;
            @include flexItem(row, space-between);

            .form-item {
              margin: 0.5rem 0;
              background-color: $white;

              width: 48%;

              .form-label {
                position: relative;

                display: flex;
                padding: 1.3rem;
                cursor: pointer;
                transition: 0.3;

                // border: 1px solid #eff0f7;

                box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                border-radius: 16px;

                // Not necessary
                &::before {
                  content: "";
                  position: absolute;
                  display: flex;
                  width: 24px;
                  height: 24px;
                  background-color: $black;
                  border-radius: 1px solid #ddd;
                  top: 15px;
                  left: 15px;
                  border-radius: 50%;
                  transition: 0.3s;
                  display: none;
                }

                &::after {
                  content: "";
                  position: absolute;
                  display: flex;
                  width: 20px;
                  height: 20px;

                  top: 18px;
                  left: 18px;
                  background-image: url("@/assets/images/check.svg");
                  background-repeat: no-repeat;
                  transition: 0.3s;
                  opacity: 0;
                }

                .form-content {
                  width: 100%;
                  @include flexItem(row, flex-start);
                  align-items: center;

                  transition: 0.3;

                  // background-color: pink;

                  // .form-img {
                  // }

                  .form-name {
                    font-size: 1.1em;
                    color: $text-color;
                  }
                }
              }

              .form-input {
                position: absolute;
                left: -9999px;
                opacity: 0;
                visibility: hidden;

                &:checked ~ .form-label {
                  border: 2px solid $green;

                  &::before {
                    border-color: $green;
                    background-color: $green;
                  }

                  &::after {
                    opacity: 1;
                  }
                }

                &:checked ~ .form-label {
                  opacity: 1;
                }
              }
            }
          }

          .third-form {
            width: 100%;
            // background-color: red;
            @include flexItem(row, space-between);

            .form-item {
              margin: 0.5rem 0;
              background-color: $white;

              width: 48%;

              .form-label {
                position: relative;

                display: flex;
                padding: 1.2rem;
                cursor: pointer;
                transition: 0.3;

                border: 1px solid #eff0f7;

                box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                border-radius: 16px;

                // Not necessary
                &::before {
                  content: "";
                  position: absolute;
                  display: flex;
                  width: 24px;
                  height: 24px;
                  background-color: $white;

                  top: 2.7rem;
                  left: 2rem;
                  border-radius: 50%;
                  transition: 0.3s;
                  border: 1.2px solid #d9dbe9;
                  box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
                }

                &::after {
                  content: "";
                  position: absolute;
                  display: flex;
                  width: 20px;
                  height: 20px;

                  top: 3.08rem;
                  left: 2.401rem;
                  background-image: url("@/assets/images/eclipse.svg");
                  background-repeat: no-repeat;
                  transition: 0.3s;
                  opacity: 0;
                }

                .form-content {
                  width: 100%;
                  @include flexItem(row, flex-start);
                  align-items: center;

                  transition: 0.3;

                  padding: 1.4rem 0;

                  // .form-img {
                  // }

                  .form-name {
                    font-size: 1.1em;
                    color: $text-color;
                  }
                }
              }

              .form-input {
                position: absolute;
                left: -9999px;
                opacity: 0;
                visibility: hidden;

                &:checked ~ .form-label {
                  border: 2px solid $green;

                  &::before {
                    border-color: $green;
                    background-color: $green;
                  }

                  &::after {
                    opacity: 1;
                  }
                }

                &:checked ~ .form-label {
                  opacity: 1;
                }
              }
            }
          }

          .title {
            font-size: 1.5em;
            font-weight: bold;
          }

          .subtitle {
            color: $text-color;
            font-size: 1.1em;
          }

          .form-field-row {
            @include flexItem(row, space-between);
            padding-top: 1.3rem;

            .form-field {
              width: 47%;
              // background-color: red;

              @include flexItem(column, space-between);

              .person {
                background: url("@/assets/images/person.svg");
                background-position: right;

                background-repeat: no-repeat;
              }

              .email {
                width: 100%;
                background: transparent url("@/assets/images/email.svg");
                background-position: right;

                background-repeat: no-repeat;
                
              }

              .phone {
                width: 100%;
                background: transparent url("@/assets/images/phone.svg");
                background-position: right;

                background-repeat: no-repeat;
              }

              .company {
                width: 100%;
                background: transparent url("@/assets/images/company.svg");
                background-position: right;

                background-repeat: no-repeat;
              }

              input {
                width: 100%;
                background: #ffffff;

                border: 1px solid #eff0f7;

                box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                border-radius: 46px;
                padding: 1rem 1.3rem;
                position: relative;
              }

              // input.person {
              //   text-align: end;
              //   width: 100%;

              //   background: transparent url("@/assets/images/person.svg")
              //     no-repeat 13px center;
              // }
            }
          }

          .first-page-next {
            @include flexItem(row, flex-end);

            .next-step {
              margin-top: 1.2rem;
              background-color: $black;
              color: $white;
              padding: 1rem 2.5rem;
              border-radius: 2rem;
              cursor: pointer;
            }
          }

          .second-page-next,
          .last-page-next {
            @include flexItem(row, space-between);

            .next-step {
              margin-top: 1.2rem;
              background-color: $black;
              color: $white;
              padding: 1rem 2.5rem;
              border-radius: 2rem;
              cursor: pointer;
            }

            .prev-step {
              margin-top: 1.2rem;
              background-color: $white;
              color: $black;
              padding: 1rem 2.5rem;
              border-radius: 2rem;
              border: 2px solid $black;
              cursor: pointer;
            }
          }

          .submit-quote {
            color: $heading-color;
            margin-top: 2rem;
            font-weight: bold;
          }

          .submit-review {
            width: 67%;
            margin: 0 auto 3.8rem auto;
            color: #6f6c90;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@import "xlg";
@import "lg";
@import "sm";
@import "mobile";
